<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="RegexpSinglelineJava">
            <property name="format" value="\s+$"/>
            <property name="message" value="Line has trailing spaces."/>
            <property name="ignoreComments" value="true"/>
        </module>    
    </module>
    <module name="NewlineAtEndOfFile">
      <property name="lineSeparator" value="lf"/>
      <!--property name="fileExtensions" value="java, xml, py"/-->
    </module>

<!--
  EmptyBlock - 2013-Mar-06 - Accumulo has about 80 empty blocks.`
-->

</module>
