# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# global Eclipse, Maven, Python
target/
.project
.classpath
.settings
.pydevproject
*.pyc

# JetBrains IDE
.idea
*.iml

# /
/logs
/walogs

# /conf/
/conf/accumulo-metrics.xml
/conf/masters
/conf/slaves
/conf/tracers
/conf/test-*
/conf/gc
/conf/monitor
/conf/accumulo-env.sh
/conf/accumulo-site.xml
/conf/accumulo_user_manual.pdf

# /contrib/accumulo_sample/ingest/
/contrib/accumulo_sample/ingest/lib

# /contrib/accumulo_sample/query/
/contrib/accumulo_sample/query/lib

# /docs/
/docs/config.html
/docs/accumulo_user_manual.pdf

# /docs/src/user_manual/
/docs/src/user_manual/accumulo_user_manual.toc
/docs/src/user_manual/accumulo_user_manual.out

# /lib/
/lib/native
/lib/*.jar

# /server/src/main/c++/mlock/
/server/src/main/c++/mlock/*.jnilib
/server/src/main/c++/mlock/org_apache_accumulo_server_tabletserver_MLock.h

# /server/src/main/c++/nativeMap/
/server/src/main/c++/nativeMap/*.jnilib

# /test/system/auto/
/test/system/auto/fake_disk_failure.so

# /test/system/continuous/
/test/system/continuous/continuous-env.sh
/test/system/continuous/walkers.txt
/test/system/continuous/ingesters.txt

