#  Licensed to the Apache Software Foundation (ASF) under one or more
#  contributor license agreements.  See the NOTICE file distributed with
#  this work for additional information regarding copyright ownership.
#  The ASF licenses this file to You under the Apache License, Version 2.0
#  (the "License"); you may not use this file except in compliance with
#  the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
language: java
notifications:
  irc:
    channels:
      - "chat.freenode.net#accumulo"
    use_notice: true
    on_success: change
    on_failure: always
    template:
      - "%{result} %{repository_slug} %{branch} (%{build_url}): %{message}"
# speed up builds; don't use with install
cache:
  directories:
    - $HOME/.m2
# skip pre-fetch of maven dependencies by making install step a NOOP
install: true
jdk:
  - oraclejdk8
# clear any cache of accumulo artifacts, just in case; use https for central
before_script:
  - rm -rf $HOME/.m2/repository/org/apache/accumulo
  - echo "<settings xmlns='http://maven.apache.org/SETTINGS/1.0.0'><mirrors><mirror><id>secure-central</id><url>https://repo.maven.apache.org/maven2</url><mirrorOf>central</mirrorOf></mirror></mirrors></settings>" > $HOME/settings-custom.xml
script: mvn --settings $HOME/settings-custom.xml clean verify -DskipITs
