<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-items">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">Accumulo</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-items">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Project<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li id="nav_index"><a href="{{ site.baseurl }}/">Home</a></li>
          <li id="nav_downloads"><a href="{{ site.baseurl }}/downloads">Downloads</a></li>
          <li id="nav_features"><a href="{{ site.baseurl }}/notable_features">Features</a></li>
          <li><a href="https://www.apache.org/licenses/LICENSE-2.0"><i class="fa fa-external-link"></i> License</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Community<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li id="nav_getinvolved"><a href="{{ site.baseurl }}/get_involved">Get Involved</a></li>
          <li id="nav_mailinglists"><a href="{{ site.baseurl }}/mailing_list">Mailing Lists</a></li>
          <li id="nav_people"><a href="{{ site.baseurl }}/people">People</a></li>
          <li id="nav_blog"><a href="https://blogs.apache.org/accumulo"><i class="fa fa-external-link"></i> Blog</a></li>
          <li id="nav_projects"><a href="{{ site.baseurl }}/projects">Community Projects</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Governance</li>
          <li id="nav_bylaws"><a href="{{ site.baseurl }}/bylaws">Bylaws</a></li>
          <li id="nav_consensusbuilding"><a href="{{ site.baseurl }}/governance/consensusBuilding">Consensus Building</a></li>
          <li id="nav_lazyconsensus"><a href="{{ site.baseurl }}/governance/lazyConsensus">Lazy Consensus</a></li>
          <li id="nav_govreleasing"><a href="{{ site.baseurl }}/governance/releasing">Releasing</a></li>
          <li id="nav_voting"><a href="{{ site.baseurl }}/governance/voting">Voting</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Development<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Guides</li>
          <li id="nav_source"><a href="{{ site.baseurl }}/source">Source &amp; Guide</a></li>
          <li id="nav_git"><a href="{{ site.baseurl }}/git">Git Workflow</a></li>
          <li id="nav_versioning"><a href="{{  site.baseurl  }}/versioning">Versioning</a></li>
          <li id="nav_contrib"><a href="{{  site.baseurl }}/contrib">Contrib Projects</a></li>
          <li id="nav_rb"><a href="{{ site.baseurl }}/rb">Review Board</a></li>
          <li id="nav_releasing"><a href="{{ site.baseurl }}/releasing">Making Releases</a></li>
          <li id="nav_verify_release"><a href="{{ site.baseurl }}/verifying_releases">Verifying Releases</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Issues</li>
          <li><a href="https://issues.apache.org/jira/browse/ACCUMULO"><i class="fa fa-external-link"></i> JIRA</a></li>
          <li><a href="https://github.com/apache/accumulo/issues"><i class="fa fa-external-link"></i> GitHub</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Builds</li>
          <li><a href="https://builds.apache.org/view/A/view/Accumulo"><i class="fa fa-external-link"></i> Jenkins</a></li>
          <li><a href="https://travis-ci.org/apache/accumulo"><i class="fa fa-external-link"></i> Travis CI</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Documentation<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Release Notes</li>
          <li id="nav_rn_171"><a href="{{ site.baseurl }}/release_notes/1.7.1">1.7.1</a></li>
          <li id="nav_rn_165"><a href="{{ site.baseurl }}/release_notes/1.6.5">1.6.5</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Manual</li>
          <li><a href="{{ site.baseurl }}/1.7/accumulo_user_manual">1.7</a></li>
          <li><a href="{{ site.baseurl }}/1.6/accumulo_user_manual">1.6</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Javadoc</li>
          <li><a href="{{ site.baseurl }}/1.7/apidocs">1.7</a></li>
          <li><a href="{{ site.baseurl }}/1.6/apidocs">1.6</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Examples</li>
          <li id="nav_examples_17"><a href="{{ site.baseurl }}/1.7/examples">1.7</a></li>
          <li id="nav_examples_16"><a href="{{ site.baseurl }}/1.6/examples">1.6</a></li>
          <li class="divider"></li>
          <li id="nav_rn"><a href="{{ site.baseurl }}/release_notes">Release Notes Archive</a></li>
          <li id="old_documentation"><a href="{{ site.baseurl }}/old_documentation">Docs for Older Verisons</a></li>
          <li id="nav_screenshots"><a href="{{ site.baseurl }}/screenshots">Screenshots</a></li>
          <li id="nav_papers"><a href="{{ site.baseurl }}/papers">Papers &amp; Presentations</a></li>
          <li id="nav_glossary"><a href="{{ site.baseurl }}/glossary">Glossary</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ASF Links<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://www.apache.org"><i class="fa fa-external-link"></i> Apache Software Foundation</a></li>
          <li><a href="https://www.apache.org/foundation/sponsorship"><i class="fa fa-external-link"></i> Sponsorship</a></li>
          <li><a href="https://www.apache.org/security"><i class="fa fa-external-link"></i> Security</a></li>
          <li><a href="https://www.apache.org/foundation/thanks"><i class="fa fa-external-link"></i> Thanks</a></li>
          <li><a href="https://www.apache.org/foundation/policies/conduct"><i class="fa fa-external-link"></i> Code of Conduct</a></li>
        </ul>
        </li>
      </ul>
      <form method="GET" action="http://search-hadoop.com" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search"/>
          <input type="hidden" name="fc_project" value="Accumulo"/>
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </div>
</nav>
