<!--
  This file follows the conventions for XMLConfiguration files specified in the Apache Commons Configuration 1.5 Library. Changes to this file will be noticed
  at runtime (see the FileChangedReloadingStrategy class in Commons Configuration).
-->
<config>
<!--
   Metrics log directory
-->
  <logging>
    <dir>${ACCUMULO_HOME}/metrics</dir>
  </logging>
<!--
 Enable/Disable metrics accumulation on the different servers and their components
 NOTE: Turning on logging can be expensive because it will use several more file handles and will create a lot of short lived objects.
-->
  <master>
    <enabled type="boolean">false</enabled>
    <logging type="boolean">false</logging>
  </master>
  <logger>
    <enabled type="boolean">false</enabled>
    <logging type="boolean">false</logging>
  </logger>
  <tserver>
    <enabled type="boolean">false</enabled>
    <logging type="boolean">false</logging>
    <update>
      <enabled type="boolean">false</enabled>
      <logging type="boolean">false</logging>
    </update>
    <scan>
      <enabled type="boolean">false</enabled>
      <logging type="boolean">false</logging>
    </scan>
    <minc>
      <enabled type="boolean">false</enabled>
      <logging type="boolean">false</logging>
    </minc>
  </tserver>
  <thrift>
    <enabled type="boolean">false</enabled>
    <logging type="boolean">false</logging>
  </thrift>
</config>
