grant{
permission java.net.SocketPermission "*", "accept,listen,resolve,connect";
permission java.net.NetPermission "getProxySelector";
permission java.io.FilePermission "/-", "read,write,delete";
permission java.io.FilePermission "<<ALL FILES>>", "execute";
permission java.util.PropertyPermission "*", "read";
permission java.util.PropertyPermission "accumulo.config.file", "read";
permission java.util.PropertyPermission "os.name", "read";
permission java.util.PropertyPermission "VERBOSE", "read";
permission java.util.PropertyPermission "org.mortbay.*", "read";
permission java.util.PropertyPermission "org.apache.accumulo.core.*", "write";
permission java.util.PropertyPermission "apple.awt.graphics.*", "write";
permission java.util.PropertyPermission "sun.awt.exception.handler", "write";
permission java.lang.RuntimePermission "getenv.*";
permission java.lang.RuntimePermission "createClassLoader";
permission java.lang.RuntimePermission "getClassLoader";
permission java.lang.RuntimePermission "setContextClassLoader";
permission java.lang.RuntimePermission "shutdownHooks";
permission java.lang.RuntimePermission "loadLibrary.*";
permission java.lang.RuntimePermission "accessDeclaredMembers";
permission java.lang.RuntimePermission "selectorProvider";
permission java.lang.RuntimePermission "accessClassInPackage.*";
permission java.lang.RuntimePermission "readFileDescriptor";
permission java.lang.RuntimePermission "writeFileDescriptor";
permission java.lang.RuntimePermission "modifyThread";
permission java.lang.RuntimePermission "modifyThreadGroup";
permission java.util.PropertyPermission "line.separator", "read";
permission java.util.PropertyPermission "javax.accessibility.assistive_technologies", "write";
permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
permission java.security.SecurityPermission "getPolicy";
permission java.security.SecurityPermission "getProperty.*";
permission java.security.SecurityPermission "getDomainCombiner";
permission java.security.SecurityPermission "putProviderProperty.*";
permission java.security.SecurityPermission "putProviderProperty.*";
permission java.security.SecurityPermission "setSystemScope";
permission java.util.logging.LoggingPermission "control";
permission javax.security.auth.AuthPermission "getSubject";
permission javax.security.auth.AuthPermission "getLoginConfiguration";
permission javax.security.auth.AuthPermission "setLoginConfiguration";
permission javax.security.auth.AuthPermission "modifyPrincipals";
permission javax.security.auth.AuthPermission "createLoginContext.hadoop-simple";
};
