<?xml version="1.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<configuration>
  <property>
    <name>wikipedia.accumulo.zookeepers</name>
    <value><!--zookeeper servers --></value>
  </property>
  <property>
    <name>wikipedia.accumulo.instance_name</name>
    <value><!--instance name --></value>
  </property>
  <property>
    <name>wikipedia.accumulo.user</name>
    <value><!--user name --></value>
  </property>
  <property>
    <name>wikipedia.accumulo.password</name>
    <value><!-- password --></value>
  </property>
  <property>
    <name>wikipedia.accumulo.table</name>
    <value><!--table name --></value>
  </property>
  <property>
    <name>wikipedia.ingest.partitions</name>
    <value><!--number of partitions --></value>
  </property>
  <property>
    <name>wikipedia.partitioned.directory</name>
    <value><!--hdfs directory for intemediate partitioned storage --></value>
  </property>
  <property>
    <name>wikipedia.ingest.groups</name>
    <value><!--the number of intermediate partition groups to generate --></value>
  </property>
  <property>
    <name>wikipedia.run.partitioner</name>
    <value><!--whether to run the partitioner step --></value>
  </property>
  <property>
    <name>wikipedia.run.ingest</name>
    <value><!--whether to run the ingest step --></value>
  </property>
  <property>
    <name>wikipedia.bulk.ingest</name>
    <value><!--whether to use bulk ingest vice streaming ingest --></value>
  </property>
  <property>
    <name>wikipedia.bulk.ingest.dir</name>
    <value><!--the directory to store rfiles for bulk ingest --></value>
  </property>
  <property>
    <name>wikipedia.bulk.ingest.failure.dir</name>
    <value><!--the directory to store failed rfiles after bulk ingest --></value>
  </property>
  <property>
    <name>wikipedia.bulk.ingest.buffer.size</name>
    <value><!--the ammount of memory to use for buffering and sorting key/value pairs in each mapper before writing rfiles --></value>
  </property>
</configuration>
