# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# accumulo instance
INSTANCE_NAME=a12
# zookeepers
ZOOKEEPERS=localhost
# username
USER=root
# password
PASSWORD=secret
# used to determine which nodes to run tests on
TSERVERS=/accumulo/conf/tservers
# sets the number of nodes for each test case
TEST_CASES=1,2,4,8,16
