<!DOCTYPE html>
<html lang="en" style="height: 100%">

{% include head.html %}

<body style="padding-top: 75px; height: 100%;">

  {% include nav.html %}

  <script>
    $(function() {
      var path = window.location.hash.substr(1);
      if (path) {
        var cur = $("#accumulo-manual-frame").attr("src");
        $("#accumulo-manual-frame").attr("src", cur + "/#" + path);
      }
    });
  </script>

  <div style="height: 100%">
    {% if page.manual_location contains 'http' %}
    <iframe id="accumulo-manual-frame" class="manual" src="{{ page.manual_location }}"></iframe>
    {% else %}
    <iframe id="accumulo-manual-frame" class="manual" src="{{ site.baseurl }}{{ page.manual_location }}"></iframe>
    {% endif %}
  </div>
  
</body>
</html>
