<!DOCTYPE html>
<html lang="en">
<head>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE- 2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/dataTables.bootstrap.css" rel="stylesheet">
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.dataTables.min.js"></script>
<script src="{{ site.baseurl }}/js/dataTables.bootstrap.js"></script>
<link href="{{ site.baseurl }}/css/accumulo.css" rel="stylesheet" type="text/css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

<script>
$(function() {
  var host = window.location.host;
  if (typeof host !== 'undefined' && host !== 'accumulo.apache.org') {
    $('#non-canonical').show();
  }
});
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

if (ga.hasOwnProperty('loaded') && ga.loaded === true) {
  ga('create', 'UA-50934829-1', 'apache.org');
  ga('send', 'pageview');
}
</script>
</head>
<body>
{% include nav.html %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="sidebar">
      <div style="text-align: center">
        <a href="{{ site.baseurl }}/"><img id="logo" alt="Apache Accumulo &trade;" class="img-responsive" src="{{ site.baseurl }}/images/accumulo-logo.png"/></a>
        <br />
        Latest 1.7 release: <strong>1.7.1</strong><br />
        Latest 1.6 release: <strong>1.6.5</strong><br />
        <br>
        <a id="download-button-sidebar" class="btn btn-success btn-block" href="{{ site.baseurl }}/downloads/" role="button">Download</a>
      </div>
      <hr>
      <table class="table" id="sociallinks">
        <tr><td><img src="{{ site.baseurl }}/images/Twitter_logo_blue.png" style="height: 1em"></td><td><a href="https://twitter.com/apacheaccumulo">@ApacheAccumulo</a></td></tr>
        <tr><td><img src="{{ site.baseurl }}/images/InBug-16px_0.png"></td><td><a href="https://www.linkedin.com/groups/Apache-Accumulo-Professionals-4554913">Apache Accumulo Professionals</a></td></tr>
        <tr><td><img src="{{ site.baseurl }}/images/GitHub-Mark-32px.png" style="height: 1em"></td><td><a href="https://github.com/apache/accumulo">apache / accumulo</a></td></tr>
        <tr><td><span class="glyphicon glyphicon-comment"></span></td><td><a href="irc://chat.freenode.net/accumulo">#accumulo @ freenode</a></td></tr>
        <tr><td><img src="{{ site.baseurl }}/favicon.png" width="16" /></td><td><a href="http://blogs.apache.org/accumulo">Apache Accumulo Blog</a></td></tr>
      </table>
      <hr>
      <a id="accumulo-summit-logo" href="http://accumulosummit.com/"><img alt="Accumulo Summit" class="img-responsive" src="{{ site.baseurl }}/images/accumulo-summit.png"></a>
    </div>
    <div class="col-md-8 col-md-offset-1">

      <div id="non-canonical" style="display: none; background-color: #F0E68C; padding-left: 1em;">
        Visit the official site at: <a href="https://accumulo.apache.org">https://accumulo.apache.org</a>
      </div>
      <div id="content">
        {% unless page.skiph1fortitle %}
        <h1 class="title">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>
        {% endunless %}
        {{ content }}
      </div>

      <div id="footer">
        <a href="http://www.apache.org">
          <img id="asf-logo" alt="Apache Software Foundation" src="{{ site.baseurl }}/images/feather-small.gif" height="100">
        </a>
        <div class="copyright">
          <p>
          Copyright &copy; 2011-2016 The Apache Software Foundation, Licensed under
          the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
          Apache Accumulo, Accumulo, Apache, the Apache feather logo, and the Apache Accumulo
          project logo are trademarks of the <a href="http://www.apache.org">Apache Software Foundation</a>.<br />
          Site created with <a href="http://getbootstrap.com/">Bootstrap</a> including icons from <a href="http://glyphicons.com/">GLYPHICONS</a> and <a href="http://fontawesome.io/">Font Awesome</a>.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
{% if page.nav %}
$("#{{page.nav}}").addClass("active");
{% endif %}
$(function() {
  return $("h2, h3, h4, h5, h6").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    id = $el.attr('id');
    icon = '<i class="fa fa-link"></i>';
    if (id) {
      return $el.append($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
    }
  });
});
</script>
</body>
</html>
